{% extends 'base.html' %}
{% load static %}

{% load staticfiles %}
{% block content %}
<link href="{% static 'css/acknowledgements.css' %}" rel="stylesheet" type="text/css">


<div class="grid-x grid-padding-x align-center" id="ent1">
    <div class="cell align-center" id="cont">
		<p id="list">These are links from works I was inspired from</p>
		<ul class="a">
			<li><a href="https://github.com/jlmakes/scrollreveal">ScrollReveal.js</a></li>
			<li><a href="http://bl.ocks.org/brattonc/5e5ce9beee483220e2f6">Liquid Fill Gauge</a></li>
			<li><a href="http://nvd3.org/examples/scatter.html">Scatter Chart</a></li>
			<li><a href="https://bl.ocks.org/duhaime/14c30df6b82d3f8094e5a51e5fff739a">Scatter Chart ii</a></li>
			<li><a href="https://bl.ocks.org/floofydugong/9c94ab01d8c3ed8ea3821d4a7e119b07">Scatter Chart iii</a></li>
			<li><a href="https://bl.ocks.org/mbhall88/22f91dc6c9509b709defde9dc29c63f2">Donut Chart</a></li>
			<li><a href="https://codepen.io/zakariachowdhury/pen/EZeGJy">Donut Chart ii</a></li>
		</ul>
	</div>
</div>

{% endblock content %}
