@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

#entries {
    font-family: 'Do Hyeon', sans-serif;
    text-align:right;
    font-size: 2em;
}

#entries-txt {
    font-family: 'Do Hyeon', sans-serif;
    text-align: left;
    font-size: 2em;
}
#fillgauge2 {
    display: block;
    margin: auto;
}
#tv-txt {
    font-family: 'Do Hyeon', sans-serif;
    text-align: left;
    font-size: 3em;
}
