@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.container {
  width: 100%
}
#title {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 6em;
    margin: 3em 1em 5em 1em;
}

#entries {
    font-family: 'Do Hyeon', sans-serif;
    text-align:right;
    font-size: 8em;
}

#entries-txt {
    font-family: 'Do Hyeon', sans-serif;
    text-align: left;
    font-size: 5em;
    margin-top: 0.5em;
}
#fillgauge2, #fillgauge3, #fillgauge4 {
    display: block;
    margin: auto;
}
#tv-txt, #mi-txt, #bb-txt {
    font-family: 'Do Hyeon', sans-serif;
    text-align: left;
    font-size: 3em;
    margin: 3em 0em 0em 2em;
}

#description {
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    margin: 5em 1em 5em 1em;
}
#ent {
    margin: 5em 1em 5em 1em;
}

#ent0{
    margin: 5em 1em 5em 1em;
}

#ent1, #ent2, #ent3, #ent4, #ent-donuts {
    margin: 20em 1em 7em 1em;
}
