{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Paula Mendez</title>
        <meta name="viewport" content="width=device-width" />
        <!-- Fonts -->
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css">
        <link rel="stylesheet" href="/static/css/foundation.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/base.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <!-- this will include every plugin and utility required by Foundation -->
        <script src="/static/js/foundation.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src = "https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js"></script>
    </head>

    <body>
      <!-- This demo uses float grid but you can use flex grid too -->

      <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
            <li class="has-submenu">
              <a href="#0">One</a>
            </li>
            <li><a href="#0">Two</a></li>
            <li><a href="#0">Three</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>


        <div class="content container">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>
