{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}


<div class="row demo-toggle-title">
  <div class="columns">
    <h2>Top Bar</h2>
    <p>A top bar (<code>.top-bar</code>) can have two sections: a left-hand section (<code>.top-bar-left</code>) and a right-hand section (<code>.top-bar-right</code>). On small screens, these sections stack on top of each other.</p>
    <p>In the above example, our top bar includes a <a href="dropdown-menu.html">dropdown menu</a>, along with a text input field and action button. The dropdown menu inherits the background color of the top bar. If you're using the Sass version of Foundation, you can change this with the <code>$topbar-submenu-background</code> variable.</p>
  </div>
</div>

{% endblock %}
