{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}


To Whom it May Concern,
I would like to apply for the Practice Support Specialist position at Vets First Choice. I am a junior majoring in Economics, International Business along with a minor in French at Kansas State University and planning to graduate in 2019. My comprehensive curriculum and vast experience have given me a solid base upon which I plan to build my career at Vets First Choice.
During my time as an assistant at the Academic Assistant Center, I was responsible for ordering stock and office supplies, schedule and maintain records of appointments and also greeting students as they arrived. My duties also included maintaining communication between the members of the department and send emails to students reminding them of their scheduled appointments.
My experience at the Tutoring Center also provided me with the opportunity to communicate and make sure students had the tools to be successful. I also did administrative work, answering phones, scheduling meetings, answering questions about what we had to offer. It also helped me develop excellent time management and the ability to prioritize skills to complete work on a deadline.
At Panda Express, where I currently work, I have proven myself valuable by learning all tasks and therefore become a flexible associate that can help with anything that’s needed to be done. Working under pressure and fast to meet the highest quality and customer’s expectation while maintaining good communication between associates have been few of the many skills I have gotten to further develop.
Since the start of my Kansas State career, I’ve been on the board of student organizations that encourage diversity and community service. The Paraguayan Student Association and the Rotaract club at the University are known key organizations I’ve lead on campus for their continuous success.
My customer service skills has been built up from the vast experiences and opportunities I’ve had at my previous jobs, making me a great candidate for the position you are seeking.
I would appreciate the opportunity to meet with you to discuss the opportunity you have available. I believe that I would be a good fit at Vets First Choice, and I thank you for your consideration.
Sincerely,

Maria Alejandra Rivarola
alerivarola12@gmail.com
vl
{% endblock %}
